header{
    background-color: #CC3F55;
    height: 70px;

    /* Borda */
    box-shadow: 1px 4px 4px 0px #00000055;
    position: relative;
}

.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cabecalho img{
    height: 50px;
    
  
}
@media screen and (max-width: 768){
    .cabecalho img{
        height: 35px;
    }
}

.link_header{
    margin-left: 45px;
    text-decoration: none;
    color: white;

}